<style>
    .card-container{
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
    }
    .card{
        margin: auto;
    min-width: 90%;
    max-width: 90%;
    min-height: 90%;
    max-height: 90%;
    text-align: center;
    display: grid;
    grid-template-rows: 7fr 2fr 1fr 1fr;
    }
    .card-image{

        background-position: center; 
        background-repeat: no-repeat;
        background-size: contain;
    } 

    .card-text{
        inline-size: 90%; 
        overflow: hidden;
    }
</style>
<div class="container-fluid">
<div class="card-container">
    {% for product in card-test %}
    <div class="card">
        {% assign: background = product.images.first | image_url: width: 300%}
        <div style="background-image:url('{{background}}')" class="card-image"> </div>
        <div class="card-text">
            <h2>{{ product.title }}</h2>
        </div>
        <div class="card-info">
            {{ product.price | money }}
        </div>
        <div class="card-cta">
            <a href="#">Shop now</a>
        </div>
    </div>
   {% endfor %}


</div>
</div>